body {
  margin-top: 102px; }

.navbar {
  box-shadow: 2px 2px 5px;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

#showcase .lead {
  letter-spacing: .8pt; }

.carousel-inner img {
  margin: auto; }

@media (max-width: 768px) {
  .mb-resp {
    font-size: 20px; } }
