body {
    margin-top: 160px;
}

.navbar {
    box-shadow: 2px 2px 5px ;
    background: #fff;
    
    .nav-item {
        font-size: 1.4rem;
        padding-right: 1.4rem;
    }
}

#showcase .lead {
    letter-spacing: .8pt;
}

.carousel-inner img {
    margin: auto;
  }